a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0;
  padding: 15px 2.5vw 15px 2.5vw;
  display: flex;
}

#subOption {
  padding: 15px 1vw 15px 4vw;
}

#subOption label {
  color: rgba(255, 255, 255, 0.6);
}

.container {
  text-decoration: none;
}

.container img {
  margin: 0;
}

.container label {
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: -0.408px;
  color: rgba(255, 255, 255, 0.87);
  margin: 0px 0px 0px 1.25vw;
}

.container:hover {
  transition-duration: 0.3s;
  padding: 15px 2vw 15px 3vw;
}

.container:hover label{
  font-weight: 500;
}

#subOption:hover {
  padding: 15px 0.5vw 15px 4.5vw;
}

.active .container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 2vw 15px 3vw;
}

.active .container label{
  font-weight: 500;
}

.active #subOption {
  padding: 15px 0.5vw 15px 4.5vw;
}

@media only screen and (max-width: 720px) {
  .container , #subOption {
    padding: 15px 25px 15px 30px;
  }

  .container label {
    display: none;
  }

  .container:hover , #subOption:hover {
    padding-left: 35px;
  }
}
