.header {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    letter-spacing: -0.408px;
    color: rgba(255, 255, 255, 0.87);
  }

hr {
    margin: 0 auto;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
}