.col {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: black;

  }
  
  .container {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 120px auto 120px;
  }
  
  #img {
    width: 50vw;
  }
  
  @media only screen and (max-width: 920px) {
    #img {
      display: none;
    }
  
    .col {
      display: table;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .container {
      width: 80vw;
      display: table-cell;
      vertical-align: middle;
    }
  }