.dropzone {
    border-radius: 10px;
    background: #151E24;
    min-height: 50px;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 500px;
    margin:auto;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.productCategories {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}