.para {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: -0.408px;
  color: rgba(255, 255, 255, 0.6);
}

.wrapper {
    margin: 10px auto 20px auto;
}

.btnContainer {
    display: flex;
    margin-left: auto;
}

.btnGap {
    margin-right: 20px;
}

